section.chouse-box
    h2.h Выбери свой чай
    .chouse-box__item.g-1
        a.chouse-box__link(href="tea.html")
            h3.chouse-box__title Шен пуэр
            img.chouse-box__img(src="images/2.png")
    .chouse-box__item.g-2
        a.chouse-box__link(href="tea.html")
            h3.chouse-box__title Шу пуэр
            img.chouse-box__img(src="images/1.jpg")
    .chouse-box__item.g-3
        a.chouse-box__link(href="tea.html")
            h3.chouse-box__title Улун
            img.chouse-box__img(src="images/3.jpg")
    .chouse-box__item.g-4
        a.chouse-box__link(href="tea.html")
            h3.chouse-box__title Белый 
            img.chouse-box__img(src="images/4.jpg")          