article.side-content__filtr
    h3.side-content__filtr-title.side-content__title.title
      | Фильтр по параметрам
    form.side-content__filtr-box.box-filtr
      .box-filtr__item.filtr-price
        h4.box-filtr__item-title Цена(р/100г)
        .box-filtr__item-body
          .price-input(id='slider-round')
      .box-filtr__item.filtr-chekbox
        h3.box-filtr__item-title Фабрика
        .box-filtr__item-body
          .input-box.check
            input(type='checkbox' name='factory' id="check1")
            label(for='check1') Багровое Кинешемское солнце
          .input-box.check
            input(type='checkbox' name='factory' id="check2")
            label(for='check2') Волга матушка

          .input-box.check
            input(type='checkbox' name='factory' id="check3")
            label(for='check3') Зеленый монах
      .box-filtr__item.filtr-chekbox
        h3.box-filtr__item-title Вид
        .box-filtr__item-body
          .input-box.check
            input(type='checkbox' name='tea' id="check4")
            label(for="check4") Шу
          .input-box.check
            input(type='checkbox' name='tea' id="check5")
            label(for="check5") Улун
          .input-box.check
            input(type='checkbox' name='tea' id="check6")
            label(for="check6") Красный
          .input-box.check
            input(type='checkbox' name='tea' id="check-shupuerh")
            label(for='check-shupuerh') Шу
          .input-box.check
            input(type='checkbox' name='tea' id="check-ulun")
            label(for='check-ulun') Улун
          .input-box.check
            input(type='checkbox' name='tea' id="check-red")
            label(for='check-red') Красный
      