footer#footer.footer
    .footer__inner.container
        ul.footer__list
            li
                a.footer-link(href='tel:+78123187850') +7 (812) 318-78-50
            li
                a.footer-link(href='tel:+78123187850') +7 (812) 318-78-50
            li
                a.footer-link(href='tel:+78123187850') +7 (812) 318-78-50
        a.footer__logo.logo(href='index.html')
            +svg('logo')(width='220' height='50' fill='#fff')
        ul.footer__list
            li
                a.footer-link(href='tel:+78123187850') Ссылка на какую нибудь статью
            li
                a.footer-link(href='tel:+78123187850') Ссылка на какую нибудь статью
            li
                a.footer-link(href='tel:+78123187850') Ссылка на какую нибудь статью
