section.info
  .container
    article.info-inner
      h2.info-inner__title.title Пуэр - больше чем чай
      .info-inner__text.text
        p
          | Что такое чай пуэр?
          | Прессованный пуэр – это уникальный китайский напиток, родиной которого считаются
          | провинции
          | Юньнань,
          | Сычуань и Гуйчжоу. Особенностью данного вида чая является технология его
          | производства.
          | Прежде чем
          | поступить в продажу, он проходит следующие этапы приготовления:
          | сбор чайных листьев
          | завяливание
          | скручивание
          | ферментирование (с помощью высокой температуры ускоряется процесс брожения
          | листа)
          | сушка
          | прессование
        p
          | По степени ферментации его подразделяют на два вида: Шу и Шен пуэры.
          | Шу пу эр – искусственно состаренный чай. Для его приготовления используется
          | ускоренная
          | технология
          | ферментации.
          | Шен пу ер – получается благодаря естественной ферментации.
        p
          | Вкусовые ощущения от него всегда разные, ведь чем дольше выдержка пуэра, тем
          | богаче и
          | насыщеннее
          | вкус.
          | Это касается в первую очередь шен пуэров. Знатоки чайного мира сходятся во
          | мнении, что
          | через
          | несколько
          | лет хранения из него уходит горечь и грубость чайного листа. Что касается шу
          | пуэров, то их
          | вкус
          | меняется,
          | но не сильно, так как при их приготовлении используется технология быстрой
          | ферментации с
          | последующей ее
          | остановкой без стадии дозревания.
        p
          | Полезные свойства
          | Китайцы считают, что этот напиток способен оказать помощь в борьбе с различными
          | недугами.
          | Действительно,
          | польза от его воздействия на организм просто огромна. Правильный пуэр:
          | Выводит шлаки и токсины;
          | Насыщает организм полезными микроэлементами;
          | Бодрит и тонизирует;
          | Нормализует пищеварение;
          | Снижает уровень холестерина в крови;
          | Нормализует давление;
          | Улучшает состояние кожи;
          | Омолаживает организм в целом.
          | Необыкновенный набор биологически активных веществ, присутствующий в нем,
          | считается тем
          | самым
          | энергетическим потенциалом, который делает чай «живым». Он способен меняться с
          | течением
          | времени
          | и
          | приобретать все новые и новые качества и оттенки вкуса. Напиток дарит прилив
          | сил,
          | возможность
          | сконцентрироваться и наслаждаться чувством внутреннего комфорта.
        p
          | Эффект от чая пуэр
          | Самый главный эффект от чая сравним прежде всего с эффектом от употребления
          | крепкого
          | качественного
          | кофе.
          | Отлично бодрит и тонизирует. Помимо всех полезных свойств, некоторые сорта дают
          | еще и так
          | называемый
          | «эффект чайного опьянения». Естественно, в отличие от алкоголя и пагубных
          | привычек, он не
          | способен
          | вызывать привязанности и нанести какой-либо вред организму.
          | «Эффект чайного опьянения», отличается от того, что дает алкоголь. Удивительное
          | действие
          | чая
          | создает для
          | человека возможность сосредоточится, открыть границы сознания, ощутить прилив
          | радости и
          | жизненной
          | энергии. Китайцы говорят, что такое состояние отлично подходит для медитации.
