article.slider-offer.section
	.slider-offer__item
		h3.slider-offer__item-title.title Выбор покупателей
		.slider-offer__item-box
			include ../components/cardItem.pug
			include ../components/cardItem.pug
			include ../components/cardItem.pug
	.slider-offer__item
		h3.slider-offer__item-title.title Мое любимое
		.slider-offer__item-box
			include ../components/cardItem.pug
			include ../components/cardItem.pug
			include ../components/cardItem.pug
	.slider-offer__item
		h3.slider-offer__item-title.title Другое название
		.slider-offer__item-box
			include ../components/cardItem.pug
			include ../components/cardItem.pug
			include ../components/cardItem.pug