@font-face {
                font-family: FuturaPT;
                font-display: swap;
                src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"),
                    url("../fonts/FuturaPT-Demi.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Montserrat;
                font-display: swap;
                src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
                    url("../fonts/Montserrat-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: China;
                font-display: swap;
                src: url("../fonts/China.woff2") format("woff2"),
                    url("../fonts/China.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: OpenSans;
                font-display: swap;
                src: url("../fonts/OpenSans.woff2") format("woff2"),
                    url("../fonts/OpenSans.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: PatrickHand;
                font-display: swap;
                src: url("../fonts/PatrickHand-Regular.woff2") format("woff2"),
                    url("../fonts/PatrickHand-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Shket;
                font-display: swap;
                src: url("../fonts/Shket-Regular.woff2") format("woff2"),
                    url("../fonts/Shket-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: OpenSans;
                font-display: swap;
                src: url("../fonts/OpenSans-Italic.woff2") format("woff2"),
                    url("../fonts/OpenSans-Italic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
