
$red:#881349;
$fontTitle: "China";
$fontText: "Shket";
$headerPadding:2.5em;
$green:#47a031;
$text:#fff;
$fontSystem:-apple-system, BlinkMacSystemFont, Segoe\ UI, Roboto, Helvetica\ Neue, Arial, Noto\ Sans, sans-serif;
